@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/colors" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: $bandsite-black;
  --headline-padding: 48px;
  --padding: 36px;

  @include mobile {
    --headline-padding: 24px;
    --padding: 16px;
  }
}

.stack {
  padding: 0 var(--padding);
  &--header,
  &--hero,
  &--footer {
    background-color: $bandsite-black;
    color: $white;
  }
  &--header {
    @include display(flex, left, center, row);
  }
  &--hero {
    @include display(flex, center, left, column);
    height: 50vh;
    background-image: linear-gradient(
        rgba(50, 50, 50, 0.5),
        rgba(50, 50, 50, 0.5)
      ),
      url("../assets/images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
  }
  &--about {
    background-color: $white;
  }
  &--gallery {
    background-color: $alabaster;
  }
  &--footer {
    position: relative;
  }
  @include desktop {
    padding: 0 126px;
  }
  @include mobile {
    &--header {
      @include display(flex, left, center, column);
      padding: 0;
    }
    &--hero {
      height: 35vh;
    }
  }
}

.header {
  &__contents {
    display: flex;
  }
  &__logo {
    padding: var(--padding) 0;
  }
  @include mobile {
    &__contents {
      @include display(flex, left, center, column);
      width: 100%;
    }
    &__logo {
      padding-top: 36px;
      margin: 0;
      width: 216px;
    }
  }
}

.navigation {
  &__list {
    @include display(flex, space-between, baseline, row);
    list-style-type: none;
    padding: 0 var(--headline-padding);
    width: 256px;
  }
  &__item {
    padding: var(--padding) 0;
    &--selected,
    &:active,
    &:hover {
      font-weight: bold;
      border-bottom: 4px solid $white;
    }
  }
  &__link {
    color: $white;
    text-decoration: none;
  }
  @include mobile {
    width: 100%;
    &__list {
      @include display(flex, space-evenly, baseline, row);
      width: 100%;
      padding: 0;
    }
    &__item {
      text-align: center;
      width: stretch;
      padding: 16px;
    }
    &__link {
      font-size: 24px;
    }
  }
}

.divider {
  height: 1px;
  background-color: $mercury;
}

.heading {
  padding: var(--headline-padding) 0 var(--padding) 0;
  &--page {
    @include font-properties(60px, 68px, bold);
  }
  &--section {
    @include font-properties(36px, 44px, bold);
  }
  &--sub {
    @include font-properties(24px, 32px, 500);
  }
  @include mobile {
    &--page {
      @include font-properties(36px, 44px, bold);
    }
  }
}

.about {
  padding: 0 80px;
  &__image {
    width: 100%;
    padding-bottom: var(--padding);
  }
  &__description {
    @include display(flex, space-between, left, row);
  }
  &__copy {
    width: 48%;
    @include font-properties(14px, 22px, normal);
    padding-bottom: var(--padding);
    &--normal {
      font-weight: normal;
    }
    &--bold {
      font-weight: bold;
    }
  }
  @include mobile {
    padding: 0;
    &__description {
      @include display(flex, space-between, left, column);
    }
    &__copy {
      padding: var(--padding) 0;
      width: 100%;
      @include font-properties(22.4px, 32px, normal);
      &--first {
        padding-bottom: 36px;
      }
      &--second {
        padding-top: 36px;
      }
    }
  }
}

.quote {
  padding: 8px 0;
  &__body {
    @include font-properties(24px, 32px, bold);
  }
  &__source {
    @include desktop-tablet {
      @include font-properties(14px, 22px, bold);
    }
    @include mobile {
      @include font-properties(24px, 32px, bold);
    }
  }
}

.gallery {
  @include display(flex, space-between, center, row);
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: var(--padding);
  @include desktop {
    &__image {
      filter: grayscale(100%);
      &:hover {
        filter: none;
      }
    }
    /* only including grayscale on desktop because
     it's not really possible to hover on touchscreen devices */
  }
  @include desktop-tablet {
    &__image {
      max-width: calc(33.33% - 16px);
    }
  }
  @include mobile {
    @include display(flex, center, center, column);
    &__image {
      width: 100%;
    }
  }
}

.footer {
  &__contact {
    @include display(flex, space-between, baseline, row);
  }
  &__copy {
    @include font-properties(14px, 20px, normal);
    padding-bottom: var(--padding);
    &--normal {
      font-weight: normal;
    }
    &--bold {
      font-weight: bold;
    }
  }
  &__title {
    width: max-content;
    @include display(flex, left, baseline, row);
  }
  &__heading--section {
    padding-right: var(--padding);
  }
  &__socials {
    @include display(flex, space-between, baseline, row);
    width: 112px;
  }
  &__link {
    text-decoration: none;
    color: $white;
  }
  &__logo {
    padding: var(--padding) 0;
  }
  @include desktop-tablet {
    &__logo {
      padding-top: 64px;
      position: absolute;
      top: 0%;
      left: 80%;
    }
  }
  @include mobile {
    &__heading--section {
      padding-right: 0;
    }
    &__title,
    &__contact {
      @include display(flex, center, start, column);
    }
    &__title,
    &__socials,
    &__copy {
      padding: var(--padding) 0;
    }
    &__copy {
      @include font-properties(22.4px, 32px, normal);
      &--bold {
        font-weight: bold;
      }
    }
    &__socials {
      width: 90%;
      @include display(flex, space-between, center, row);
    }
    &__icon {
      height: 36px;
    }
    &__copyright {
      @include display(flex, center, start, column);
      padding-top: 64px;
      padding-bottom: 36px;
    }
    &__logo {
      width: 216px;
    }
  }
}
