@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Regular.woff") format("woff"), url("../assets/fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Medium.woff") format("woff"), url("../assets/fonts/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Bold.woff") format("woff"), url("../assets/fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  color: #323232;
}

.stack {
  padding: 0px 36px;
}
.stack--header, .stack--footer, .stack--hero {
  background-color: #323232;
  color: #fff;
}
.stack--header {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}
.stack--hero {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  height: 50vh;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.stack--about {
  background-color: #fff;
}
.stack--gallery {
  background-color: #e1e1e1;
}

.header__contents {
  display: flex;
  margin-bottom: 0.25rem;
}
.header__logo {
  padding: 36px 0px;
}

.header-nav__list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  list-style-type: none;
  padding: 36px 48px;
  width: 256px;
}
.header-nav__link {
  color: #fff;
  text-decoration: none;
  height: 100%;
  padding: 36px 0px;
}
.header-nav__link:active, .header-nav__link:hover {
  font-weight: bold;
  border-bottom: 0.25rem solid #fff;
}

.divider {
  height: 0.0625rem;
  background-color: #e1e1e1;
}

.heading {
  padding: 48px 0px 36px 0px;
}
.heading--page {
  font-size: 60px;
  line-height: 68px;
  font-weight: bold;
}
.heading--section {
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
}
.heading--sub, .quote__body {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.about {
  padding: 0px 80px;
}
.about__image {
  width: 100%;
  padding-bottom: 36px;
}
.about__description {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: row;
}
.about__copy {
  width: 48%;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 36px;
}
.about__copy--normal {
  font-weight: normal;
}
.about__copy--bold, .quote__source {
  font-weight: bold;
}

.quote {
  padding: 8px 0px;
}
.quote__body {
  font-weight: bold;
}
.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 16px;
  padding-bottom: 36px;
}
.gallery__image {
  width: 32%;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.footer__copy {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 36px;
}
.footer__copy--normal {
  font-weight: normal;
}
.footer__copy--bold {
  font-weight: bold;
}
.footer__title {
  display: flex;
  justify-content: left;
  align-items: baseline;
  flex-direction: row;
}
.footer__heading--section {
  padding-right: 36px;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  width: 112px;
}/*# sourceMappingURL=bio.css.map */