@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Regular.woff") format("woff"), url("../assets/fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Medium.woff") format("woff"), url("../assets/fonts/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Bold.woff") format("woff"), url("../assets/fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #323232;
  --headline-padding: 48px;
  --padding: 36px;
}
@media (max-width: 767px) {
  body {
    --headline-padding: 24px;
    --padding: 16px;
  }
}

.stack {
  padding: 0 var(--padding);
}
.stack--header, .stack--hero, .stack--footer {
  background-color: #323232;
  color: #fff;
}
.stack--header {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}
.stack--hero {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  height: 50vh;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
}
.stack--about {
  background-color: #fff;
}
.stack--gallery {
  background-color: #fafafa;
}
.stack--footer {
  position: relative;
}
@media (min-width: 1280px) {
  .stack {
    padding: 0 126px;
  }
}
@media (max-width: 767px) {
  .stack--header {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .stack--hero {
    height: 35vh;
  }
}

.header__contents {
  display: flex;
}
.header__logo {
  padding: var(--padding) 0;
}
@media (max-width: 767px) {
  .header__contents {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .header__logo {
    padding-top: 36px;
    margin: 0;
    width: 216px;
  }
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  list-style-type: none;
  padding: 0 var(--headline-padding);
  width: 256px;
}
.navigation__item {
  padding: var(--padding) 0;
}
.navigation__item--selected, .navigation__item:active, .navigation__item:hover {
  font-weight: bold;
  border-bottom: 4px solid #fff;
}
.navigation__link {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 767px) {
  .navigation {
    width: 100%;
  }
  .navigation__list {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
    padding: 0;
  }
  .navigation__item {
    text-align: center;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    padding: 16px;
  }
  .navigation__link {
    font-size: 24px;
  }
}

.divider {
  height: 1px;
  background-color: #e1e1e1;
}

.heading {
  padding: var(--headline-padding) 0 var(--padding) 0;
}
.heading--page {
  font-size: 60px;
  line-height: 68px;
  font-weight: bold;
}
.heading--section {
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
}
.heading--sub {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .heading--page {
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
  }
}

.about {
  padding: 0 80px;
}
.about__image {
  width: 100%;
  padding-bottom: var(--padding);
}
.about__description {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: row;
}
.about__copy {
  width: 48%;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  padding-bottom: var(--padding);
}
.about__copy--normal {
  font-weight: normal;
}
.about__copy--bold {
  font-weight: bold;
}
@media (max-width: 767px) {
  .about {
    padding: 0;
  }
  .about__description {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
  }
  .about__copy {
    padding: var(--padding) 0;
    width: 100%;
    font-size: 22.4px;
    line-height: 32px;
    font-weight: normal;
  }
  .about__copy--first {
    padding-bottom: 36px;
  }
  .about__copy--second {
    padding-top: 36px;
  }
}

.quote {
  padding: 8px 0;
}
.quote__body {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .quote__source {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
  }
}
@media (max-width: 767px) {
  .quote__source {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: var(--padding);
}
@media (min-width: 1280px) {
  .gallery {
    /* only including grayscale on desktop because
     it's not really possible to hover on touchscreen devices */
  }
  .gallery__image {
    filter: grayscale(100%);
  }
  .gallery__image:hover {
    filter: none;
  }
}
@media (min-width: 768px) {
  .gallery__image {
    max-width: calc(33.33% - 16px);
  }
}
@media (max-width: 767px) {
  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .gallery__image {
    width: 100%;
  }
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.footer__copy {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  padding-bottom: var(--padding);
}
.footer__copy--normal {
  font-weight: normal;
}
.footer__copy--bold {
  font-weight: bold;
}
.footer__title {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: left;
  align-items: baseline;
  flex-direction: row;
}
.footer__heading--section {
  padding-right: var(--padding);
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  width: 112px;
}
.footer__link {
  text-decoration: none;
  color: #fff;
}
.footer__logo {
  padding: var(--padding) 0;
}
@media (min-width: 768px) {
  .footer__logo {
    padding-top: 64px;
    position: absolute;
    top: 0%;
    left: 80%;
  }
}
@media (max-width: 767px) {
  .footer__heading--section {
    padding-right: 0;
  }
  .footer__title, .footer__contact {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .footer__title, .footer__socials, .footer__copy {
    padding: var(--padding) 0;
  }
  .footer__copy {
    font-size: 22.4px;
    line-height: 32px;
    font-weight: normal;
  }
  .footer__copy--bold {
    font-weight: bold;
  }
  .footer__socials {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .footer__icon {
    height: 36px;
  }
  .footer__copyright {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 36px;
  }
  .footer__logo {
    width: 216px;
  }
}/*# sourceMappingURL=bio.css.map */