@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/colors" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  color: $bandsite-black;
}

.stack {
  padding: 0rem 2.25rem;
  &--header,
  &--footer,
  &--hero {
    background-color: $bandsite-black;
    color: $white;
  }
  &--header {
    @include display(flex, left, center, row);
    @include mobile {
      @include display(flex, left, center, column);
      padding: 0rem;
    }
  }
  &--hero {
    @include display(flex, center, left, column);
    height: 50vh;
    // background-image: url("../assets/images/hero-bio.jpg");
    background-image: linear-gradient(
        rgba(50, 50, 50, 0.5),
        rgba(50, 50, 50, 0.5)
      ),
      url("../assets/images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
    z-index: 0;
  }
  &--about {
    background-color: $white;
  }
  &--gallery {
    background-color: $mercury;
  }
}

.header {
  &__contents {
    display: flex;
    @include mobile {
      @include display(flex, left, center, column);
      width: 100%;
    }
  }
  &__logo {
    padding: 2.25rem 0rem;
    margin-bottom: 0.25rem;
    @include mobile {
      padding: 2.25rem 0rem;
      width: 35%;
      margin: 0rem;
    }
  }
}

.header-nav {
  &__list {
    @include display(flex, space-between, baseline, row);
    list-style-type: none;
    padding: 0rem 3rem;
    width: 16rem;
  }
  &__item {
    padding: 2.25rem 0rem;
    &--selected,
    &:active,
    &:hover {
      font-weight: bold;
      border-bottom: 0.25rem solid $white;
    }
  }
  &__link {
    color: $white;
    text-decoration: none;
  }
  @include mobile {
    width: 100%;
    &__list {
      @include display(flex, space-evenly, baseline, row);
      width: 100%;
      padding: 0rem;
    }
    &__item {
      text-align: center;
      width: stretch;
      padding: 1rem;
    }
  }
}

.divider {
  height: 0.0625rem;
  background-color: $mercury;
}

.heading {
  padding: 3rem 0rem 2.25rem 0rem;
  &--page {
    @include font-properties(3.75rem, 4.25rem, bold);
  }
  &--section {
    @include font-properties(2.25rem, 2.75rem, bold);
  }
  &--sub {
    @include font-properties(1.5rem, 2rem, 500);
  }
}

.about {
  padding: 0rem 5rem;
  &__image {
    width: 100%;
    padding-bottom: 2.25rem;
  }
  &__description {
    @include display(flex, space-between, left, row);
  }
  &__copy {
    width: 48%;
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-bottom: 2.25rem;
    &--normal {
      font-weight: normal;
    }
    &--bold {
      font-weight: bold;
    }
  }
}

.quote {
  padding: 0.5rem 0rem;
  &__body {
    @extend .heading--sub;
    font-weight: bold;
  }
  &__source {
    @extend .about__copy--bold;
  }
}

.gallery {
  @include display(flex, space-between, center, row);
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-bottom: 2.25rem;
  &__image {
    width: 32%;
  }
}

.footer {
  &__contact {
    @include display(flex, space-between, baseline, row);
  }
  &__copy {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 2.25rem;
    &--normal {
      font-weight: normal;
    }
    &--bold {
      font-weight: bold;
    }
  }
  &__title {
    @include display(flex, left, baseline, row);
  }
  &__heading--section {
    padding-right: 2.25rem;
  }
  &__socials {
    @include display(flex, space-between, baseline, row);
    width: 7rem;
  }
}
