@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Regular.woff") format("woff"), url("../assets/fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Medium.woff") format("woff"), url("../assets/fonts/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Bold.woff") format("woff"), url("../assets/fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  font-size: 16px;
  font-weight: normal;
  color: #323232;
  --headline-padding: 3rem;
  --padding: 2.25rem;
}
@media (max-width: 767px) {
  body {
    --headline-padding: 1.5rem;
    --padding: 1rem;
  }
}

.label,
.button {
  color: #afafaf;
  line-height: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .label {
    font-size: 0.75rem;
  }
}
@media (max-width: 767px) {
  .label {
    font-size: 0.625rem;
  }
}

.button {
  font-size: 1.125rem;
  background-color: #323232;
  color: #fff;
  border-radius: 0.25rem;
  padding: 1rem 2.25rem;
  border: none;
}
.button:hover {
  background-color: black;
}

.stack {
  padding: 0 var(--padding);
}
.stack--header, .stack--hero, .stack--footer {
  background-color: #323232;
  color: #fff;
}
.stack--header {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}
.stack--hero {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  height: 50vh;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
}
.stack--about, .stack--comments {
  background-color: #fff;
}
.stack--comments {
  padding-bottom: var(--padding);
}
.stack--gallery {
  background-color: #fafafa;
}
.stack--footer {
  position: relative;
}
@media (min-width: 1280px) {
  .stack {
    padding: 0 7.875rem;
  }
  .stack--comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .stack--header {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .stack--hero {
    height: 35vh;
  }
}

.header__contents {
  display: flex;
}
.header__logo {
  padding: var(--padding) 0;
}
@media (max-width: 767px) {
  .header__contents {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .header__logo {
    padding-top: 2.25rem;
    margin: 0;
    width: 13.5rem;
  }
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  list-style-type: none;
  padding: 0 var(--headline-padding);
  width: 16rem;
}
.navigation__item {
  padding: var(--padding) 0;
}
.navigation__item--selected, .navigation__item:active, .navigation__item:hover {
  font-weight: bold;
  border-bottom: 0.25rem solid #fff;
}
.navigation__link {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 767px) {
  .navigation {
    width: 100%;
  }
  .navigation__list {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
    padding: 0;
  }
  .navigation__item {
    text-align: center;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    padding: 1rem;
  }
  .navigation__link {
    font-size: 1.5rem;
  }
}

.divider {
  height: 0.0625rem;
  background-color: #e1e1e1;
}

.heading {
  padding: var(--headline-padding) 0 var(--padding) 0;
}
.heading--page {
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-weight: bold;
}
.heading--section {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: bold;
}
.heading--sub {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .heading--page {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: bold;
  }
}

.about {
  padding: 0 5rem;
}
.about__image {
  width: 100%;
  padding-bottom: var(--padding);
}
.about__description {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: row;
}
.about__copy {
  width: 48%;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: normal;
  padding-bottom: var(--padding);
}
.about__copy--normal {
  font-weight: normal;
}
.about__copy--bold {
  font-weight: bold;
}
@media (max-width: 767px) {
  .about {
    padding: 0;
  }
  .about__description {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
  }
  .about__copy {
    padding: var(--padding) 0;
    width: 100%;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: normal;
  }
  .about__copy--first {
    padding-bottom: 2.25rem;
  }
  .about__copy--second {
    padding-top: 2.25rem;
  }
}

.quote {
  padding: 0.5rem 0;
}
.quote__body {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .quote__source {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: bold;
  }
}
@media (max-width: 767px) {
  .quote__source {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: var(--padding);
}
@media (min-width: 1280px) {
  .gallery {
    /* only including grayscale on desktop because
     it's not really possible to hover on touchscreen devices */
  }
  .gallery__image {
    filter: grayscale(100%);
  }
  .gallery__image:hover {
    filter: none;
  }
}
@media (min-width: 768px) {
  .gallery__image {
    max-width: calc(33.33% - 1rem);
  }
}
@media (max-width: 767px) {
  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .gallery__image {
    width: 100%;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex: 1;
}
.form__container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
}
.form__avatar {
  margin-top: 2.25rem;
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  background-position: center;
}
.form__input {
  border-radius: 0.25rem;
  font-family: "Nunito Sans", sans-serif;
  padding: 1rem;
  border: 0.0625rem solid #e1e1e1;
  background-color: #fafafa;
}
.form__input-comment {
  height: 5rem;
  resize: none;
}
.form__input::-moz-placeholder {
  color: #323232;
}
.form__input::placeholder {
  color: #323232;
}
.form__input::active {
  border: 0.0625rem solid #323232;
}
.form__section, .form__button {
  margin: 1rem 0;
}
.form__section {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.form__label {
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .form__container {
    padding: 0 5rem;
  }
  .form__button {
    align-self: flex-end;
  }
}
@media (min-width: 1280px) {
  .form__heading--section {
    align-self: start;
  }
}

.comment__area {
  display: flex;
  justify-content: left;
  align-items: start;
  flex-direction: row;
  padding: var(--padding) 0;
  border-top: 0.0625rem solid #e1e1e1;
}
.comment__area:last-child {
  border-bottom: 0.0625rem solid #e1e1e1;
}
.comment__body {
  width: 100%;
}
.comment__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.comment__user {
  font-weight: bold;
}
.comment__date {
  color: #afafaf;
}
@media (min-width: 768px) {
  .comment__container {
    padding: 0 5rem var(--padding) 5rem;
  }
}
@media (min-width: 768px) and (max-width: 767px) {
  .comment__container {
    padding-bottom: var(--padding);
  }
}
@media (min-width: 1280px) {
  .comment__section {
    width: 60%;
  }
}

.avatar {
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  flex: none;
  margin-right: 1rem;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.footer__copy {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
  padding-bottom: var(--padding);
}
.footer__copy--normal {
  font-weight: normal;
}
.footer__copy--bold {
  font-weight: bold;
}
.footer__title {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: left;
  align-items: baseline;
  flex-direction: row;
}
.footer__heading--section {
  padding-right: var(--padding);
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  width: 7rem;
}
.footer__link {
  text-decoration: none;
  color: #fff;
}
.footer__logo {
  padding: var(--padding) 0;
}
@media (min-width: 768px) {
  .footer__logo {
    padding-top: 4rem;
    position: absolute;
    top: 0%;
    left: 80%;
  }
}
@media (max-width: 767px) {
  .footer__heading--section {
    padding-right: 0;
  }
  .footer__title, .footer__contact {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .footer__title, .footer__socials, .footer__copy {
    padding: var(--padding) 0;
  }
  .footer__copy {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: normal;
  }
  .footer__copy--bold {
    font-weight: bold;
  }
  .footer__socials {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .footer__icon {
    height: 2.25rem;
  }
  .footer__copyright {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 2.25rem;
  }
  .footer__logo {
    width: 13.5rem;
  }
}/*# sourceMappingURL=bio.css.map */